package ${packageName}.${moduleName}.service;

import com.baomidou.mybatisplus.extension.plugins.pagination.Page;
import ${packageName}.${moduleName}.domain.${className};

import java.util.List;

/**
 * ${functionName} 服务层
 *
 * @author ${author}
 * @date ${datetime}
 */
public interface I${className}Service {

    Page<${className}> select${className}Page(Page<${className}> page, ${className} query);

    ${className} select${className}ById(Long id);

    int insert${className}(${className} ${classname});

    int update${className}(${className} ${classname});

    int delete${className}ByIds(Long[] ids);
}
